

<h1>{{message}}</h1>


<table>
    <tr>
        <td>Student ID: </td>
        <td>{{employee.EmpID}}</td>
    </tr>
    <tr>
        <td>First Name: </td>
        <td>{{employee.FirstName}}</td>
    </tr>
    <tr>
        <td>Last Name: </td>
        <td>{{employee.LastName}}</td>
    </tr>
    <tr>
        <td>Gender: </td>
        <td>{{employee.Gender}}</td>
    </tr>
    <tr>
        <td>Credits: </td>
        <td>{{employee.Salary}}</td>
    </tr>
</table>

<a href="students">Back to Students</a>